<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProperty scope="context" name="appName" source="spring.application.name"/>

<!--    <springProfile name="docker">-->
<!--        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">-->
<!--            <batchMaxItems>1</batchMaxItems>-->
<!--            <http>-->
<!--                <url>http://loki:3100/loki/api/v1/push</url>-->
<!--            </http>-->
<!--            <format>-->
<!--                <label>-->
<!--                    <pattern>application=${appName},host=${HOSTNAME}</pattern>-->
<!--                </label>-->
<!--                <message>-->
<!--                    <pattern>${FILE_LOG_PATTERN}</pattern>-->
<!--                </message>-->
<!--                <sortByTime>true</sortByTime>-->
<!--            </format>-->
<!--        </appender>-->
<!--    </springProfile>-->

<!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>logs/logFile.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash; daily rollover &ndash;&gt;-->
<!--            <fileNamePattern>logs/logFile.%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->

<!--            &lt;!&ndash; keep 30 days' worth of history capped at 3GB total size &ndash;&gt;-->
<!--            <maxHistory>30</maxHistory>-->

<!--            <totalSizeCap>3GB</totalSizeCap>-->

<!--            <timeBasedFileNamingAndTriggeringPolicy-->
<!--                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--                <maxFileSize>10MB</maxFileSize>-->
<!--            </timeBasedFileNamingAndTriggeringPolicy>-->
<!--        </rollingPolicy>-->

<!--        <encoder>-->
<!--            <pattern>${FILE_LOG_PATTERN}</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <springProfile name="docker">-->
<!--        <root level="INFO">-->
<!--&lt;!&ndash;            <appender-ref ref="LOKI"/>&ndash;&gt;-->
<!--            <appender-ref ref="FILE"/>-->
<!--        </root>-->
<!--    </springProfile>-->

<!--    <springProfile name="!docker">-->
<!--        <root level="INFO">-->
<!--            <appender-ref ref="LOKI"/>-->
<!--        </root>-->
<!--    </springProfile>-->
</configuration>