* {
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    z-index: 0;
}


label {
    margin-left: 2%;
    font-size: 1.2rem;
}

html,
body,
main {
    position: relative;
    height: 97%;
    width: 100%;
}


body {
    margin-bottom: 1%;
    background-color: #f0f0f0;
    color: #303b44;
    font-weight: bold;
    font-size: 1.2rem;
}

button {
    width: 10rem;
    border: none;
    display: inline-block;
    padding: 1rem 0.1rem;
    background-color: #d5d5d5;
}

button:hover {
    color: #f0f0f0;
    background-color: #303b44;
}

textarea {
    position: relative;
    margin: 0.2rem 0;
    border: solid;
    border-width: 0.1rem;
    padding: 0.1rem 0.3rem;
    background-color: #ffffff;
    color: #333333;
    border-color: #d5d5d5;
    resize: none;

    width: 80%;
    height: 90%;

    z-index: 0;
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-content {
    width: 40%;
    height: 80%;
    left: 30%;
    bottom: 10%;
    position: fixed;

    background-color: #f0f0f0;
    color: #303b44;

    border: solid;
    border-color: #d5d5d5;
    border-width: 0.1rem;
    padding: 0.2rem 0.2rem;


    z-index: 1;
    overflow: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
    

.ta-left {
    align-self: flex-start;
    text-align: left;
}

p {
    z-index: 1;
    text-align: center;
}

.close-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.5rem;

    background-color: #f0f0f0;
    position: fixed;
    z-index: 300;
}


.cfg {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.9rem 0;
    padding: 0.2rem 0.9rem;
    position: relative;
    z-index: 0;
    background-color: #ffffff;
}

.twelve-rem-h {
    height: 12rem;
}

.five-rem-h {
    height: 5rem;
}

.eighteen-rem-h {
    height: 33rem;
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.heading {
    position: relative;
    z-index: 0;
    margin-top: 1.4rem;
    margin-bottom: 0.4rem;
    font-size: 1.3rem;
}

.high {
    z-index: 100;
}

main {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: stretch;
}

.cont-5 {
    display: flex;

    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;

    flex: 8 1 30rem;
    align-self: baseline;
    height: 90vh;
    width: 35vw;
    overflow: auto;
}

.cont-2 {
    display: block;
    z-index: 100;
    flex: 1 1 10rem;

    max-height: 90vh;
    width: 15vw;
    padding: 0;
}


.pagination-item,
.pagination-item button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 3rem;
    height: 3rem;
    border: solid;
    border-color: #d5d5d5;
    border-width: 0.05em;
}

.pagination {
    margin-bottom: 0.4rem;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
}

.pagination .pagination-item:hover,
.close-icon:hover {
    background-color: #303b44;
    color: #ffffff;
    border-color: #f0f0f0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303b44;
} 

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #d5d5d5;
    color: #303b44;
}

li:last-child {
    margin-right: 5%;
}