@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-size: 1.1rem;
    z-index: 0;
}

html, body {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;

}